# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
*.pyc
.env
backend/.env

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# Editor/OS
.vscode/
.DS_Store
backend/user_data/

backend/database.db
